table {
    position: relative;
    margin: 0 auto;
    padding: 8px;
    background: #000000;
    border-radius: 8px;
}


input[type="button"]{
    background: #4F5459;
    border: none;
    color: white;
    font-size: 24px;
    padding: 20px;
    width: 100%;
    border-radius: 2px;
}
input[type="text"]{
    width: 100%;
    font-size: 24px;
    padding: 20px;
    border-radius: 2px;
    border: none;
    margin-bottom: 3px;
    background: #E1FAF9;
}

#equals{
    width: 100%;
}